body {
  margin: 85px;
  background-image: url('../assets/Untitled_Artwork.png');
  background-size: cover;
}

h2 {
  display: flexbox;
  text-align: center;
  font-size: 30px;
}
.aboutMe {
  font-size: 15px;
}

h1, div, h3, h4, h6 {
 text-align: center;
 font-size: 30px;
}
h1 {
  font-family: 'Rock Salt', cursive;
}

.headshot {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

h2, p {
  display: flexbox;
  justify-content: flex-end;
}

h5 {
  text-align: center;
  font-size: 30px;
}

.resumePNG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.tictactoe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.connect {
  align-items: center;
  display: row;
}

.btnTop {
  max-height: 30px;
  max-width: 30px;
}
