body {
  margin: 85px;
  background-image: url('../assets/Untitled_Artwork.png');
  background-size: cover;
}

.dropdown {
  color: black
}

h2 {
  display: flexbox;
  text-align: center;
  font-size: 30px;
}
.aboutMe {
  font-size: 15px;
}

div, h3, h4, h6 {
 text-align: center;
 font-size: 30px;
}
h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 50px;
  padding: 20px;
}

.headshot {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 20px;
}

h2 {
  font-family: 'Rock Salt', cursive;
  display: flexbox;
  justify-content: flex-end;
  margin: 250px;
}

h5 {
  text-align: center;
  font-size: 30px;
  padding: 50px;
}
#res {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#slideshow-container {
  max-width: 325px;
  position: relative;
  margin: auto;
  z-index: 100;
}

.mySlides {display: contents;}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.skillsImage {
  vertical-align: middle;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding: 50px;
}

#projectContainer {
  display: block;
  margin-left: auto;
  width: 800px;
}


.connect {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.btnTop {
  max-height: 30px;
  max-width: 30px;
}
